.App {
  margin: 0;
  display: border-box;
  height: 100vh;
  background: url("/images/leonides-ruvalcabar-gPyuBw_G6as-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
}

h1{
  font-size: 80px;
  color: white;
  
}

h2{
  padding-left: 40px;
  font-size: 40px;
  color: white;
}

.container{
  display: block;
  align-items: center;
  justify-content: center;
 
}


.login-button{
  justify-content: center;
 
}

.Login{
    padding: 20px 20px;
    border-radius: 50px;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
  
}
.SignUp{
  justify-content: center;
  border: 1px solid grey;
    border-radius: 50px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 700;
}

