/* .button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #bbb;
    box-sizing: border-box;
  } */

  .modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(3, 179, 233, 0.616);
    display: flex;
    justify-content: center;
}

.modal__info-box {
    width: 40vh;
    height: 80vh;
    position: absolute;
    top: 10vh;
    margin: 0 auto;
    background: rgb(15, 15, 15);
    box-shadow: 15px 30px 30px rgba(0, 0, 0, .3);
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    border: 10px solid rgba(2, 2, 2, 0.164);

}

.modal__info-box__body {
    display: flex;
    flex-flow: row wrap;
}
      
.icon {
  background: blue;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 600;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5px;
}
.icon:hover {
  background: rgb(122, 121, 121);
  color: black;
  cursor: pointer;
}

.like {
  font-size: 48px;
}

.modal__info-box header, .modal__info-box footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
