.bio{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}


.profile{
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  height: 400px;
  width: 700px;
  background: rgba(173, 173, 173, 0.897);
  align-self: center;
  border-radius: 8px;
}

.hero-photo{
  background-image: url("https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  width: 300px;
  background-color: blue;
  border: 2px solid #fff;
}

.sidekick-photo{
  background-image: url("https://get-a-wingman.com/wp-content/uploads/2016/03/6-Best-Topics-To-Talk-About-With-A-Girl-1.jpg");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
}
