.form-wrapper {
    margin-right: 1rem;
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem auto;
    background: rgba(102, 163, 255, 0.9);
    border-radius: 60px;
    color: black;
    padding: 20px;
}

.form-wrapper > ul {
    margin: 0 auto;
}

.form-li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.form-li input{

    font-size:20px;

}

.form-button {
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    background: rgb(20, 184, 102);
    
}

.form-button:hover {
    border: solid 3px black;
}

.form-type{
    font-size:35px;
}

