.form-wrapper {
    margin-right: 1rem;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem auto;
    background: rgba(173, 173, 173, 0.897);
    border-radius: 8px;
}

.form-wrapper > ul {
    margin: 0 auto;
}

.form-li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.form-button {
    padding: .2rem;
}

.form-button:hover {
    border: solid 3px #1B50FD;
}
